<div class="animated fade-in-up cont-set-name-biometric">
  <div class="set-name-biometric" *ngIf="true">
    <div class="top-image-container">
      <img [src]="'/80-devices.svg' | imageCdn" alt="">
    </div>
    <form class="form-global" autocomplete="off" [formGroup]="formNameCredential" (ngSubmit)="submitName()">
      <fieldset class="form-group">
        <p class="label-name">{{'AUTH.ENROLLMENT.BIOMETRIC.TITLE_NAME' | translate}}</p>
        <app-ds-input
        [form]="formNameCredential"
        [property]="'name'"
        [typeText]="'text'"
        [placeholder]="'AUTH.ENROLLMENT.BIOMETRIC.PLACEHOLDER_NAME' | translate">
      </app-ds-input>
      </fieldset>
      <fieldset>
        <app-btn
        [type]="'submit'"
        [disabled]="formNameCredential.invalid || isLoading"
        [text]="'AUTH.ENROLLMENT.BIOMETRIC.BTN_NAME' | translate"
        [id]="'btn_login'"
        [isLoading]="isLoading"
        [class]="'btn btn-primary'"
        ></app-btn>
      </fieldset>
    </form>
  </div>
</div>
