<div class="animated fade-in-up cont-step-three">
	<div class="box-step-three">
		<div class="box-image">
			<img [src]="'/calendar.png' | imageCdn" alt="">
		</div>
		<div class="confirm">
			<ul>
				<li>
					<span>{{'PAYMENT_TAXES.FORM_THREE.DATE' | translate}}</span>
					<p class="date">{{'PAYMENTS.FORM_THREE.TODAY' | translate}} - {{today | date: 'dd/MMM/yyyy' | replace : '.' : '' | titlecase}}</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-step">
		<button class="btn btn-primary" (click)="submitFormThree()">{{'CONTINUE'| translate}}</button>
	</div>
</div>
