@import '~sass/colors'
@import '~sass/variables'
@import '~sass/mixins'

.detail-smart-card-fd
  background: $carbon-light-100
  max-width: 401px
  border-radius: 15px
  color: $carbon-dark-900
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14)
  padding: 29px
  overflow: hidden
  margin-bottom: 32px
  button
    .dot-btn
      background: $g-500
      opacity: 1

  .smart-card-main-balances
    padding-bottom: 32px
    position: relative
    &::after
      border-bottom: 1px solid $carbon-light-900
      width: 1000px
      position: absolute
      content: ''
      bottom: 0
      left: -100px
    h5
      margin-bottom: 5px
      font-family: Inter
      font-size: 14px
      font-weight: 500
      line-height: 2
      color: $carbon-mid-600
    .main-balance
      font-family: Inter
      font-size: 28px
      font-weight: normal
      line-height: 1.43
      letter-spacing: -0.2px
      color: $carbon-dark-900
      .decimal-numbers 
        font-size: 28px

  .smart-card-secondary-balances
    padding-top: 20px
    .secondary-item
      display: flex
      margin-bottom: 9px
      &:last-child
        margin-bottom: 0px
      p
        font-size: $f-14
        color: $carbon-mid-600
        font-weight: normal
        line-height: 2
      h4
        margin-left: auto
        font-family: Inter
        font-size: 16px
        font-weight: normal
        line-height: 1.75
        text-align: right
        color: $carbon-dark-900
        .decimal-numbers 
          font-size: 16px
      small
        font-size: 11px
        font-weight: normal
        line-height: 1.82
        color: $carbon-mid-600


@media only screen and (max-width: 1024px)
  .detail-smart-card-fd
    min-width: 100%

@media only screen and (max-width: $break-tablet)
  .detail-smart-card-fd
    max-width: 401px
    .smart-card-main-balances
      padding-bottom: 27px

@media only screen and (max-width: $break-mobile)
  .detail-smart-card-fd
    min-width: 90%
    max-width: 90%
    margin: 0 auto 32px
    min-height: 320px
    margin-bottom: -4px

    .cont-head-product
      padding: 20px
      .account-type
        p
          font-size: $f-20 - 3
      .account-type-status
        font-size: $f-14

      .account-total-info
        &:after
          left: -40px
          top: 101px

      .account-status-info
        .account-status-info-item
          position: relative
          p
            min-width: 140px
          h4
            position: absolute
            right: 0

    .smart-card-main-balances
      padding-bottom: 27px
