@import '~sass/colors'
@import '~sass/variables'

.cont-alert-enrollment
  text-align: center
  .animated.fade-in-up
    text-align: center
    .top-image-container
      margin: 0 auto
      top: 0
      display: block
      width: 120px
      padding: 25px 17px
      background-color: $g-50
      border-radius: 50%
      img
        height: 66px
        width: auto
    img
      height: 120px
      width: auto
      margin-bottom: 8px
    h4
      margin-top: 24px
      margin-bottom: 12px
      font-weight: 500
    p
      line-height: 1.6
      font-size: $f-14 + 1
    button
      width: 100%
      padding: 0 30px
      margin-top: 40px
    a
      margin-top: 34px
      display: inline-block
  .logotipo-horizontalx3
    width: 220px
    height: auto
    margin-top: 38px
    margin-bottom: 37px
