<div class="step-two-onboarding">
  <p>{{'MOVEMENT.TITLE' | translate}}</p>
  <ul class="cont-list-step-two">
    <li>
      <div class="info-step-two">
        <div class="cont-img">
          <img [src]="'/juan-valdez.jpg' | imageCdn" alt="">
        </div>
        <div class="text-info">
          <small>{{'ONBOARDING.STEP_TWO.LIST_ONE.DATE' | translate}}</small>
          <p>{{'ONBOARDING.STEP_TWO.LIST_ONE.NAME' | translate}}</p>
        </div>
      </div>
      <div class="price">
        <p>-{{'ONBOARDING.STEP_TWO.LIST_ONE.VALUE' | translate}}</p>
      </div>
    </li>
    <li class="scale">
      <div class="info-step-two">
        <div class="cont-img">
          <img [src]="'/icon-nomina.png' |imageCdn" alt="">
        </div>
        <div class="text-info">
          <small>{{'ONBOARDING.STEP_TWO.LIST_TWO.DATE' | translate}}</small>
          <p>{{'ONBOARDING.STEP_TWO.LIST_TWO.NAME' | translate}}</p>
        </div>
      </div>
      <div class="price">
        <p>{{'ONBOARDING.STEP_TWO.LIST_TWO.VALUE' | translate}} <small class="plus"><i class="icon-plus"></i></small></p>
      </div>
    </li>
    <li>
      <div class="info-step-two">
        <div class="cont-img">
          <img [src]="'/transferencias.svg' | imageCdn" alt="">
        </div>
        <div class="text-info">
          <small>{{'ONBOARDING.STEP_TWO.LIST_THREE.DATE' | translate}}</small>
          <p>{{'ONBOARDING.STEP_TWO.LIST_THREE.NAME' | translate}}</p>
        </div>
      </div>
      <div class="price">
        <p>-{{'ONBOARDING.STEP_TWO.LIST_THREE.VALUE' | translate}}</p>
      </div>
    </li>
  </ul>
</div>
