/*
 * Grid V2.0
 * Date: 2021-06-09
 * URL: https://app.zeplin.io/project/5fa9e2ed2e42d6592161815b/screen/60832ecfa57ec812fe93a586
 * NEW URL: https://www.figma.com/file/nGAOBcAcyLucQ5NJCxF1DK/BPOP---Foundations?node-id=288%3A151
 */
// Small Phone
$break-sp: 0
$break-sp-max: 374px

// Mobile
$break-m: 375px
$break-m-max: 575px

// Small Tablet
$break-st: 576px
$break-st-max: 767px

// Medium Tablet Portrait
$break-mtp: 768px
$break-mtp-max: 1023px

// Medium Tablet Landscape
$break-mtl: 1024px
$break-mtl-max: 1279px

// Desktop
$break-d: 1280px
$break-d-max: 1439px

// Large Desktop
$break-ld: 1440px
$break-ld-max: 1919px

// XLarge Desktop
$break-xld: 1920px
$break-xld-max: 19200px

$container-max-widths: (sp: 280px, m: 343px, st: 520px, mtp: 616px, mtl: 840px, d: 936px, ld: 1128px, xld: 1128px)
$grid-breakpoints:     ("sp" $break-sp,    "m" $break-m,    "st" $break-st,    "mtp" $break-mtp,    "mtl" $break-mtl,    "d" $break-d,    "ld" $break-ld,      "xld" $break-xld)


@mixin make-col($columns, $grid-columns)
  flex: 0 0 auto
  width: 100% * $columns / $grid-columns

@mixin make-full-container($max-width, $menu-width)
  max-width: $max-width
  margin-left: calc((100% - #{$max-width}) / 2) !important
  // margin-left: calc((100% - #{$max-width} + #{$menu-width}) / 2) !important
  margin-top: 10px !important

@mixin make-content-grid($name, $bk)
  @if $name == "sp"
    @content($name, $bk)
  @else
    @media only screen and (min-width: $bk)
      @content($name, $bk)

@each $name, $bk in $grid-breakpoints
  @include make-content-grid($name: $name, $bk: $bk) using ($name, $bk)
    $menu-width: 0px
    $columns: 12

    // BEGIN :: create columns
    @if $name == "sp" or $name == "m"
      $columns: 4
    @else if $name == "st" or $name == "mtp"
      $columns: 8
    @else
      $menu-width: 128px

    @for $i from 1 through $columns
      .pb-col-#{$name}-#{$i}
        @include make-col($i, $columns)

    // BEGIN :: create max width
    .pb-width-full
      @include make-full-container(map-get($container-max-widths, $name), $menu-width)

    // BEGIN :: order flex
    @for $i from 1 through 15
     .pb-order-#{$name}-#{$i}
       order: $i !important
