@import 'variables'
@import 'globalVars'

@font-face
  font-family: 'icomoon'
  src:  url('#{$base-url}/icons/icomoon.eot')
  src:  url('#{$base-url}/icons/icomoon.eot#iefix') format('embedded-opentype'), url('#{$base-url}/icons/icomoon.woff2') format('woff2'), url('#{$base-url}/icons/icomoon.ttf') format('truetype'), url('#{$base-url}/icons/icomoon.woff') format('woff'), url('#{$base-url}/icons/icomoon.svg#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^='icon-'], [class*=' icon-']
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.ui-datepicker-next-icon,
.ui-datepicker-prev-icon
  font-family: 'icomoon'

.icon-arrow-right-circle::before
  content: '\e900'

.icon-arrow2-right::before,
.ui-datepicker-next-icon::before,
.ui-datepicker-prev-icon::before
  content: '\e901'

.icon-bell::before
  content: '\e902'

.icon-cdt::before
  content: '\e903'

.icon-credit-card::before
  content: '\e904'

.icon-cta_ahorros::before
  content: '\e905'

.icon-cta_corriente::before
  content: '\e906'

.icon-cta_hipotecario::before
  content: '\e907'

.icon-ecosistema::before
  content: '\e908'

.icon-libranza1::before
  content: '\e909'

.icon-libre_destino::before
  content: '\e90a'

.icon-log-out::before
  content: '\e90b'

.icon-user::before
  content: '\e90c'

.icon-warning::before
  content: '\e90d'

.icon-arrow-right::before
  content: '\e90e'

.icon-arrow-left::before
  content: '\e90f'

.icon-minus::before
  content: '\e910'

.icon-plus::before
  content: '\e911'

.icon-pocket::before
  content: '\e912'

.icon-libranza::before
  content: '\e913'

.icon-file-text::before
  content: '\e914'

.icon-award::before
  content: '\e915'

.icon-search::before
  content: '\e916'

.icon-edit::before
  content: '\e917'

.icon-eye::before
  content: '\e918'

.icon-eye-off::before
  content: '\e919'

.icon-refresh::before
  content: '\e91a'

.icon-x-circle::before
  content: '\e91b'

.icon-check::before
  content: '\e91c'

.icon-exclamation-circle::before
  content: '\e91d'

.icon-arrow3-left::before
  content: '\e91e'

.icon-arrow3-right::before
  content: '\e927'

.icon-tc::before
  content: '\e91f'

.icon-mobile::before
  content: '\e920'

.icon-light::before
  content: '\e921'

.icon-gas::before
  content: '\e922'

.icon-ETB::before
  content: '\e925'

.icon-water::before
  content: '\e926'

.icon-check-strong::before
  content: '\e923'

.icon-calendar::before
  content: '\e924'

.icon-close::before
  content: '\e928'

.icon-x-circle::before
  content: '\e929'

.icon-x-close::before
  content: '\e928'

.icon-filter::before
  content: '\e92a'

.icon-download::before
  content: '\e92b'

.icon-arrow-back::before
  content: '\e92c'

.icon-delete::before
  content: "\e92e"

.icon-transfer::before
  content: '\e92d'

.icon-info::before
  content: '\e92f'

.icon-security-circle::before
  content: '\e930'

.icon-user-circle::before
  content: '\e931'

.icon-accions-aval::before
  content: '\e932'

.icon-advance::before
  content: '\e933'

.icon-download-bottom::before
  content: '\e934'

.icon-giros-y-retiros::before
  content: '\e935'

.icon-pagar-tc::before
  content: '\e936'

.icon-recarga-celular::before
  content: '\e937'

.icon-generar-certificado::before
  content: '\e938'

.icon-ver-bolsillos::before
  content: '\e939'

.icon-pagar-obligacion::before
  content: '\e93a'

.icon-generar-extracto::before
  content: '\e93b'

.icon-arrows-diagrams-right-3::before
  content: '\e93c'

.icon-essential-sticker-4::before
  content: '\e93d'

.icon-essential-lock-37::before
  content: '\e93e'

.icon-essential-log-out-6::before
  content: '\e93f'

.icon-essential-phone-3::before
  content: '\e940'

.icon-ds-transfer::before
  content: '\e941'

.icon-ds-pay::before
  content: '\e942'

.icon-ds-products::before
  content: '\e943'

.icon-ds-recharge::before
  content: '\e944'

.icon-ds-withdraft::before
  content: '\e945'

.icon-money-checkmark-2::before
  content: '\e946'

.icon-essential-list-12::before
  content: '\e947'

.icon-ds-documents-taxes::before
  content: '\e948'

.icon-ds-documents-products::before
  content: '\e949'

.icon-ds-documents-extracts::before
  content: '\e94a'

.icon-shopping-ecommerce-shopping-car-1::before
  content: "\e94b"

.icon-error-ds::before
  content: "\e94c"

.icon-info-ds::before
  content: "\e94d"

.icon-success-ds::before
  content: "\e94e"

.icon-warning-ds::before
  content: "\e94f"

.icon-request-products:before
  content: "\e950"

/* background for big icons */
.circle-green
  width: 160px
  height: 160px
  background: #d7f4d4
  padding-top: 20px
  border-radius: 100%
  margin: 20px auto
