$break-tablet: 1024px
$break-mobile: 730px
$break-mobile-small: 320px

$f-12: 12px
$f-14: 14px
$f-20: 20px
$f-30: 30px

$text-font: 'Inter', sans-serif

$menu-lat-width: 128px

/////////
$break-small-phone: 374px

$break-mobile-min: 375px
$break-mobile-max: 575px

$break-small-table-min: 576px
$break-small-table-max: 767px

$break-medium-table-portrait-min: 768px
$break-medium-table-portrait-max: 1023px

$break-medium-table-landscape-min: 1024px
$break-medium-table-landscape-max: 1279px

$break-desktop-min: 1280px
$break-desktop-max: 1439px

$break-desktop-lg-min: 1440px
$break-desktop-lg-max: 1919px

$break-desktop-xlg-min: 1920px

$circle-diameter-menu: 1.414 * 2 * $break-medium-table-landscape-min // sqrt(1) * (2 * break-point)
