@import '../../../../../sass/mixins'
@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

.cont-step-success-wncother
  .footer-step
    .box-green
      width: 176px
      height: 48px
      border-radius: 8px
      background-color: $g-100
      display: flex
      justify-content: center
      align-items: center
      margin-right: 16px
      transform: rotate(0deg)
      .link
        color: $g-500
        margin-left: 0
  .decimal-vouchers-custom
    font-size: 14px
@media only screen and (max-width: $break-mobile)
  .cont-step-success-wncother
    .footer-step
      .box-green
        width: 100%
        margin-bottom: 16px
        margin-right: 0
        transform: rotate(0deg)
