<div class="step-three-onboarding">
  <div class="info-step-three">
    <div class="circle-check">
      <i class="icon-check-strong"></i>
    </div>
    <p>{{'ONBOARDING.STEP_THREE.TITLE' | translate}}</p>
    <small>{{'ONBOARDING.STEP_THREE.SUB_TITLE' | translate}}</small>
  </div>
  <div class="footer-step-three half-circles">
    <small>{{'VALUE' | translate}}</small>
    <p>{{'ONBOARDING.STEP_THREE.VALUE' | translate}}</p>
  </div>
</div>
<div class="circle-small-step-three circles-step-one">
  <div class="water">
    <i class="icon-water"></i>
  </div>
  <div class="light">
    <i class="icon-light"></i>
  </div>
  <div class="gas">
    <i class="icon-gas"></i>
  </div>
  <div class="mobile">
    <i class="icon-mobile"></i>
  </div>
  <div class="tc">
    <i class="icon-tc"></i>
  </div>
</div>
