@import '~sass/variables'
@import '~sass/colors'

.cont-accept-channel-policies
  text-align: center
  .top-image-container
    margin: 0 auto
    top: 0
    display: block
    width: 120px
    padding: 25px 17px
    background-color: $g-50
    border-radius: 50%
    img
      height: 66px
      width: auto
  h4
    margin-top: 24px
    margin-bottom: 12px
    font-weight: 500
  p
    line-height: 1.6
    margin-bottom: 30px
    font-size: $f-14 + 1
  form
    text-align: left
    .terms-and-conditions
      .checkbox
        p
          display: inline-block
          width: calc(100% - 50px)
          vertical-align: top
          text-align: left
          margin-bottom: 24px
          font-size: $f-14 - 1
  button
    width: 100%
  a
    color: $orange-900
    font-size: $f-14 - 1
  .form-global
    .form-group
      label
        display: inline-block

.cont-float-icon
  position: relative
  input
    padding-right: 40px
  i
    position: absolute
    right: 15px
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    color: $carbon-light-900
    font-size: $f-20 + 2
