<app-template-system
    [showClose]="false"
    [fullContent]="true"
    [navigatorActive]="true"
    [currentStep]="0"
    [maxStep]="1"
    [sectionContent]="content"
    [backUrl]="'/seguridad'"
></app-template-system>

<ng-template #content>
    <div class="cont-change-password-container">
        <div class="animated fade-in-up cont-change-password">
            <img [src]="'/password.png' | imageCdn" alt="">
            <h4>{{'AUTH.VOLUNTARY_CHANGE_PASSWORD.TITLE' | translate}}</h4>
            <p>{{'AUTH.VOLUNTARY_CHANGE_PASSWORD.DESCRIPTION' | translate}}</p>
            <form class="form-global" autocomplete="off" [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
                <fieldset class="form-group">
                    <label>{{'AUTH.VOLUNTARY_CHANGE_PASSWORD.CURRENT_PASSWORD' | translate}}</label>
                    <div class="cont-float-icon">
                    <input [type]="inputType" class="form-control input-bp" formControlName="currentPassword" appOnlyNumbers autocomplete="new-password"/>
                    <i [ngClass]="{'icon-eye': !showPassword, 'icon-eye-off': showPassword}" (click)="toggleInputType()"></i>
                    </div>
                    <div *ngIf="changePasswordForm.controls['currentPassword'].errors &&
                    (!changePasswordForm.controls['currentPassword'].pristine ||
                                    (changePasswordForm.controls['currentPassword'].dirty && 
                                        changePasswordForm.controls['currentPassword'].touched))" class="error-msg">
                        {{'AUTH.VOLUNTARY_CHANGE_PASSWORD.NEW_PASSWORD_FORMAT_ERROR' | translate}}
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>{{'AUTH.VOLUNTARY_CHANGE_PASSWORD.NEW_PASSWORD' | translate}}</label>
                    <div class="cont-float-icon">
                    <input [type]="inputType" class="form-control input-bp" formControlName="newPassword" appOnlyNumbers autocomplete="new-password"/>
                    <i [ngClass]="{'icon-eye': !showPassword, 'icon-eye-off': showPassword}" (click)="toggleInputType()"></i>
                    </div>
                    <div *ngIf="changePasswordForm.controls['newPassword'].errors &&
                    (!changePasswordForm.controls['newPassword'].pristine ||
                                    (changePasswordForm.controls['newPassword'].dirty && 
                                        changePasswordForm.controls['newPassword'].touched))" class="error-msg">
                        {{'AUTH.VOLUNTARY_CHANGE_PASSWORD.NEW_PASSWORD_FORMAT_ERROR' | translate}}
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>{{'AUTH.VOLUNTARY_CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate}}</label>
                    <div class="cont-float-icon">
                    <input [type]="inputType" class="form-control input-bp" formControlName="confirmedPassword" appOnlyNumbers autocomplete="new-password"/>
                    <i [ngClass]="{'icon-eye': !showPassword, 'icon-eye-off': showPassword}" (click)="toggleInputType()"></i>
                    </div>
                    <div *ngIf="changePasswordForm.controls['confirmedPassword'].errors &&
                    (!changePasswordForm.controls['confirmedPassword'].pristine ||
                                    (changePasswordForm.controls['confirmedPassword'].dirty && 
                        changePasswordForm.controls['confirmedPassword'].touched)) 
                        && changePasswordForm.controls['confirmedPassword'].errors.mustMatch" class="error-msg">
                        {{'AUTH.VOLUNTARY_CHANGE_PASSWORD.REPEAT_NEW_PASSWORD_NON_EQUALS_ERROR' | translate}}
                    </div>
                </fieldset>
                    
                <fieldset class="form-group">
                    <app-btn
                        [type]="'submit'"
                        [disabled]="changePasswordForm.invalid || (isLoading$ | async)"
                        [text]="'AUTH.VOLUNTARY_CHANGE_PASSWORD.BTN' | translate"
                        [id]="'btn_change_password'"
                        [isLoading]="(isLoading$ | async)"
                        [class]="'btn-primary'">
                    </app-btn>
                </fieldset>
            </form>
        </div>
    </div>
</ng-template>
