@import '../../../sass/colors'
@import '../../../sass/variables'
@import '../../../sass/mixins'

.cont-change-password-container
  width: 100%
  max-width: 365px
  padding: 20px 15px
  margin: 0 auto
  display: block
  .cont-change-password
    text-align: center
    img
      height: 120px
      width: auto
      margin-bottom: 8px
    h4
      margin-bottom: 12px
      font-weight: 500
    p
      line-height: 1.6
      margin-bottom: 35px
      font-size: $f-14 + 1
    form
      text-align: left
    .btn
      margin-top: 33px
      width: 100%
    b
      font-weight: 600


  .cont-float-icon
    position: relative
    input
      padding-right: 40px
    i
      position: absolute
      right: 15px
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      color: $carbon-light-900
      font-size: $f-20 + 2
    
