@import '~sass/mixins'
@import '~sass/colors'
@import '~sass/variables'

.container-registered
  width: calc( 100vw - 32px )
  margin: 11px auto
  .container-ticket-registered
    width: 100%
    .space-ticket
      margin: 0px
    .ticket-global .container-ticket-left .ticket-image-container
      padding: 24px 0px
      h5
        color: $carbon-dark-900
        font-size: 21px
    .head-message-ticket 
      display: none
    .ticket-global .container-ticket-right li
      text-align: center
      margin-bottom: 10px
    .button-payment
      display: flex
      justify-content: center
    .button-delete
      display: flex
      justify-content: center
      margin-bottom: 25px
      padding-bottom: 25px
    button
      height: 40px
      width: 184px
      background: $g-500
      font-size: 14px
      line-height: normal
      margin: 12px auto
  .card-programmed-payment
    margin-top: 16px
  .separetor
    margin: 24px 0px
    border-bottom: 1px solid $carbon-light-900
  .historial
    .container-historic .head .title
      width: 200px
    
@media only screen and (max-width: $break-mobile)
  .container-registered .container-ticket-registered .container-ticket-right ul
    padding: 24px 24px 0px
