@import '~sass/variables'
@import '~sass/colors'

.cont-historic-payments
  background: var(--white)
  border-radius: 15px
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05)
  margin-top: 24px
  h2
    padding: 20px 24px
    line-height: 1.33
    font-size: $f-20 - 2
    border-bottom: 1px solid var(--n-200)
  h3
    margin: 34px 0 6px
    font-size: $f-14 - 1
    font-weight: 600
    line-height: 1.77
    color: $gc-600
  .head-historic-payments
    padding: 12px 0 15px
    line-height: 1.71
    color: $gray3

.historic-payments
  li
    border-bottom: 1px solid var(--n-200)
    &:last-child
      border: none


