@import '~sass/colors'
@import '~sass/variables'

.step-one-fd
  margin: 40px auto
  .title
    font-size: 18px
    font-weight: 600
    font-style: normal
    line-height: 1.56
    letter-spacing: normal
    color: $cbn-900
  .card-list
    margin: 36px 0px
    .card-item
      margin-bottom: 16px
  .btn-container
    width: 100%
    button
      width: 100%

@media only screen and (min-width: $break-medium-table-landscape-min)
  .step-one-fd
    margin: 24px auto
    .card-list
      margin: 24px 0px
      .card-item
        margin-bottom: 24px
    .btn-container
      width: 154px
      margin: auto
