@import '~sass/variables'
@import '~sass/colors'
@import '~sass/mixins'

.ticket-global
  .container-ticket-right
    li
      .footer-scheduled
        font-size: $f-14 - 3

.cont-step-confirmation
  ul
    li
      p
        .text-bold
          font-weight: 500
          color: $cbn-900
      .footer-scheduled
        font-size: $f-14 - 3
  .decimal-vouchers-custom
    font-size: 14px
  .btn-primary
    min-width: 154px
