@import '~sass/mixins'
@import '~sass/colors'
@import '~sass/variables'

.cont-step-four
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  .space-ticket
    .cont-global-ticket
      .ticket-global
        .container-ticket-right
          padding: 50px 24px
          p, .success
            color: $carbon-mid-900
            font-weight: 600
            font-size: $f-14
            text-transform: capitalize

.modal-box
  .cont-2fa-global
    .adl-content-2fa
      .content-otp
        fieldset
          input
            margin: 0 4px
