@import '~sass/mixins'
@import '~sass/colors'
@import '~sass/variables'

.container-pay-stack
  display: flex
  width: 100%
  justify-content: center
  flex-direction: column
  .container
    // padding: 15px 0
    margin: 0 auto
    position: relative
    bottom: 50px
  h2
    font-weight: 700
    padding: 0
  p
    padding: 8px 0
    font-size: $f-14
