@import '~sass/colors'

.obfuscate-product
  display: flex
  align-items: center
  small
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 20px
    color: $cbn-mid-400
  i
    margin-left: 10px
    color: $hlt-600
    font-size: 20.5px
    transform: rotate(180deg) scaleX(-1)
