.product-free-destination.product-global
  .product-global-content
    .product-global-account-type
      margin-bottom: 24px
      .product-global-account-type-info
        margin-left: 0px
  .product-global-footer 
    div 
      width: 100%
    .debt_status
      margin-top: 16px
      width: 100%
