.step-one-recharge
  h2
    font-weight: bold
    margin-top: 34px

.info-step-recharge
  min-height: 30vh
  width: 100%
  max-width: 350px
  display: block
  margin: 0 auto
  form
    margin-top: 32px
  .cont-btn-submit-recharge
    margin-top: 40px
    button
      width: 100%
