<div class="status-historic" *ngIf="hasData">
  <ng-container *ngIf="historic.loading">
    <div>
      <div class="lds-css ng-scope">
        <div class="lds-flickr">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <p class="paragraph-small">{{'DETAIL.LOADING_TEXT' | translate}}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="!historic.loading && historic.error">
    <div class="error-pending">
      <p *ngIf="!hasErrorText">{{'TRANSFER.HISTORIC.ERROR' | translate}}</p>
      <p *ngIf="hasErrorText">{{historic.errorMessage}}</p>
      <button
        type="button"
        class="btn btn-primary" (click)="btnClick()">{{'PRODUCT.ERROR.BTN' | translate}}</button>
    </div>
  </ng-container>
  <div *ngIf="emptyHistoric">
    <app-empty-historic></app-empty-historic>
  </div>
</div>
