@import '~sass/variables'
@import '~sass/forms'
@import '~sass/colors'
@import '~sass/mixins'

.cont-step-two-pocket
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .footer-step
    position: relative
    margin-top: 35px

@media only screen and (max-width: $break-mobile)
  .cont-step-two-pocket
    width: 100%
    display: block
    margin: 0 auto
    padding: 0px 10px
    .footer-step
      button
        width: 100%
