@import '../../../sass/colors'
@import '../../../sass/variables'
@import '../../../sass/mixins'

.is-center 
  display: grid
  place-items: center
.has-w-100
  width: 100%  
.has-w-90
  width: 90%  
.has-w-50
  width: 50%  
.has-w-40
  width: 40%  
.has-txt-center
  text-align: center
.has-txt-left
  text-align: left
.logo
  img
   width: 167px
   
.error-container 
  height: 100vh
  padding: 1rem
  grid-template-rows: auto 75vh auto

.container-img
  text-align: left
  padding-top: 1rem
.inner-text
  padding-top: 2rem
.txt-landing  
  padding-top: 4rem
 
@media only screen and (max-width: $break-mobile) 
  .container-img
    text-align: center
