<div class="reset-process">
  <a (click)="resetActionHandler()"><i class="icon-arrow-back"></i> {{'GO_BACK' | translate}}</a>
</div>
<div class="animated fade-in-up cont-validate-password">
  <fieldset class="cont-bar-enrollment form-group">
    <app-bar-progress [desc]="userEnrollmentFlowInformation?.progressBar?.description" [valueProgress]="userEnrollmentFlowInformation?.progressBar?.percent"></app-bar-progress>
  </fieldset>
  <div class="validate-current-password">
    <div class="top-image-container">
      <img [src]="'/enrollment/password.png' | imageCdn" alt="">
    </div>
    <h4>{{'AUTH.ENROLLMENT.VALIDATE_CURRENT_PASSWORD.TITLE' | translate}}</h4>
    <p>{{'AUTH.ENROLLMENT.VALIDATE_CURRENT_PASSWORD.DESCRIPTION_' + channel | translate}}</p>
    <form class="form-global" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <fieldset class="form-group">
        <label>{{'AUTH.ENROLLMENT.VALIDATE_CURRENT_PASSWORD.PASSWORD' | translate}}</label>
        <a id="lnk_forget_your_password" (click)="forgotPassword()" [class.disabled]="isLoading$ | async">{{'AUTH.ENROLLMENT.VALIDATE_CURRENT_PASSWORD.FORGOT' | translate}}</a>
        <div class="cont-float-icon" formGroupName="content">
          <input [type]="inputType" class="form-control input-bp" formControlName="currentPassword" appBlockCopyPaste autocomplete="new-password"/>
          <i [ngClass]="{'icon-eye': !showPassword, 'icon-eye-off': showPassword}" (click)="toggleInputType()"></i>
        </div>
      </fieldset>
      <fieldset>
          <app-btn
          [type]="'submit'"
          [disabled]="registerForm.invalid || (isLoading$ | async)"
          [text]="'AUTH.ENROLLMENT.VALIDATE_CURRENT_PASSWORD.BTN' | translate"
          [id]="'btn_login'"
          [isLoading]="(isLoading$ | async)"
          [class]="'btn btn-primary'">
        </app-btn>
      </fieldset>
    </form>
  </div>
</div>
