@import '../../../../../../../sass/variables'
@import '../../../../../../../sass/colors'
@import '../../../../../../../sass/mixins'

.cont-step-two-transfer
  width: 100%
  max-width: 350px
  margin: 0 auto
  display: block

  .no-margin-top
    margin: 0 auto

  .form-group
    button
      width: 100%
      max-width: 183px
      display: block
      margin: 20px auto 0

  .cost
    font-size: 13px

@media only screen and (max-width: $break-mobile)
  .cont-step-two-transfer
    max-width: 100%
    padding: 0 15px

    .form-group
      button
        max-width: 100%
