@import '~sass/variables'

.cont-to-who-advance
  .submit-step-one
    text-align: center
    margin-top: 32px


@media only screen and (max-width: $break-mobile)
  .cont-to-who-advance
    .submit-step-one
      button
        width: 100%
