<article class="product-global shadow-4dp hover-16dp {{nameBank}}">
    <div class="product-global-content">
        <div class="product-global-account-type">
            <div class="cont-img">
                <img [src]="'/24-payments-finance-piggy-bank-2.svg' | imageCdn" [alt]="'PRODUCT_TYPES.DEPOSIT_ACCOUNT' | translate">
            </div>
            <div class="product-global-account-type-info">
                <p>{{product?.accountInformation?.productName}}</p>
                <app-obfuscate-number [text]="'PRODUCT.NUMBER'" [accountNumber]="hasNameBank ? product?.accountInformation?.accountIdentifier : product.id"></app-obfuscate-number>
            </div>
        </div>
        <ng-container *ngIf="hasProduct; else loadingOrError">
          <div class="product-global-account-amount">
              <p>{{'PRODUCT.DEPOSIT_ACCOUNT.BALANCE_AVAILABLE' | translate}}</p>
              <strong [innerHTML]="product?.productAccountBalances?.saldo_disponible?.amount | currencyFormat: true"></strong>
          </div>
          <div class="product-global-account-view-detail">
            <a class="link" (click)="redirect(product.typeAccount, product.id)" *ngIf="!hasNameBank && (optionsModule$ | async).data.product_detail.show">{{'PRODUCT.VIEW_DETAIL' | translate}} <em class="icon-arrow-right-circle"></em></a>
        </div>
        </ng-container>
    </div>
    <span *ngIf="hasProduct" class="product-global-footer-line"></span>
    <div class="product-global-footer not-ellipsis full" *ngIf="showFooter()">
        <div>
            <span>{{'PRODUCT.DEPOSIT_ACCOUNT.TOTAL_BALANCE' | translate}}</span>
            <strong [innerHTML]="product?.productAccountBalances?.saldo_actual?.amount | currencyFormat: true"></strong>
        </div>
    </div>
</article>

<ng-template #loadingOrError>
  <app-product-loading-error [product]="product"></app-product-loading-error>
</ng-template>
