@import '../../../sass/colors'
@import '../../../sass/variables'
@import '../../../sass/mixins'

.product-global-account-amount
  margin-top: -15px
  .name-company
    width: 274px
    white-space: pre-line
.product-global-account-type-info
  margin-left: 0
.product-global-account-view-detail
  margin-top: 25px
.product-global-footer
  p
    color: $gray3
    font-size: $f-14 - 1
    margin-bottom: 10px
.home-container
  progress[value]
    margin: 3px 0
    width: 274px
  progress::-webkit-progress-value
    background-image: linear-gradient(to top, $orange-900, $orange-700)
  progress::-webkit-progress-bar
    background: $secondary-100
