@import '~sass/mixins'
@import '~sass/colors'
@import '~sass/variables'

.container-move-pockets
  height: 100%
  width: 100%

@media only screen and (max-width: $break-mobile)
  .container-move-pockets
    max-width: 100%
    margin: 0 auto
