@import '../../../../../sass/mixins'
@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

.confirmation-recharge
  .footer-step
    .box-green
      width: 176px
      height: 48px
      border-radius: 8px
      background-color: $g-100
      display: flex
      justify-content: center
      align-items: center
      margin-right: 16px
      transform: rotate(0deg)
      .link
        color: $g-500
        margin-left: 0

@media only screen and (max-width: $break-mobile)
  .confirmation-recharge
    .footer-step
      .box-green
        margin-bottom: 16px
        transform: rotate(0deg)
