@import '../../../../../sass/mixins'
@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

.popup-account-lock-confirmation
  background: $carbon-light-100
  border-radius: 12px
  padding: 24px
  width: 320px
  text-align: center
  margin: auto
  .img-container
    width: 48px
    height: 48px
    padding: 8px
    border-radius: 24px
    background-color: $wrn-100
    margin: 0px auto 12px
    img
      width: 32px
      height: 32px
  h3
    font-size: 16px
    font-weight: 600
    line-height: 1.75
    letter-spacing: normal
    text-align: center
    color: $black-750
    margin-bottom: 8px
  p
    font-size: 13px
    font-weight: normal
    line-height: 2.15
    letter-spacing: normal
    text-align: center
    color: $carbon-dark-900
    margin-bottom: 28px
  button
    width: 147px
    padding: 0px 12px
    margin: 0px 8px
    background: $hlt-600
    font-size: 13px
    color: $carbon-light-100
  .btn-cancel
    background-color: $carbon-light-100
    color: $act-900
    width: 33%
