@import '~sass/mixins'
@import '~sass/forms'
@import '~sass/colors'
@import '~sass/variables'

.cont-modal-move-pockets
  background: $carbon-light-100
  border-radius: 15px
  padding: 24px
  text-align: center
  width: 344px
  .img-modal
    display: flex
    justify-content: center
    align-items: center
    .cont-img
      display: flex
      justify-content: center
      align-items: center
      width: 48px
      height: 48px
      background-color: $success-100
      border-radius: 200px
    img
      width: 32px
      height: 32px
  .textModal
    width: 100%
    color: #0d0d0d
    .title
      font-weight: 600
      font-size: $f-14 + 2
      padding-top: 16px
      padding-bottom: 8px
    .subTitle
      font-size: $f-14 - 1
      font-weight: normal
  .btnModal
    padding-top: 24px
  button
    width: 100%
  .linkModal
    padding: 24px


