<app-template-system [title]="'DOCUMENTS.CERTIFICATE.DETAIL.TITLE' | translate" [sectionHome]="true" [sectionContent]="content"
[fullContent]="true" [navigatorActive]="true" [backUrl]="navigate.documents_ds" [showClose]="false">
</app-template-system>

<ng-template #content>
  <div class="container-certificate">
    <form class="form-global" [formGroup]="formCertificate">
      <p class="title">{{'DOCUMENTS.CERTIFICATE.DETAIL.ACTION' | translate}}</p>
      <div class="form-group">
        <div class="cont-section">
          <button class="left" type="button" (click)="onLeft()" [ngClass]="{'left-invested': iconColorLeft}" *ngIf="(products | async).length > 1">
            <img class="arrow-left" alt="">
          </button>
          <ul class="cont-options scroll-horizontal" #scroll (scroll)="scrollHandler($event)">
            <li *ngFor="let product of (products | async); let i=index">
              <div class="box" (click)="setBorder(product.accountInformation)" [ngClass]="{'box-border': typeActive === product.accountInformation}"
                *ngIf="(product?.productAccountBalances?.saldo_disponible) else loadingTemplate">
                <label class="container-radio">
                  <input type="radio" name="optionCertificate" [value]="product" [checked]="typeActive === product.accountInformation">
                  <span class="checkmark"></span>
                </label>
                <div class="cont-text">
                  <p class="name">{{'PRODUCT_TYPES.' + product?.accountInformation?.productType | translate}}</p>
                  <p class="number">{{'DOCUMENTS.CERTIFICATE.DETAIL.NUMBER' | translate}} {{product?.accountInformation?.accountIdentifier | slice: -4}}</p>
                  <p class="amount">
                    {{(product['productAccountBalances'] ? (product['productAccountBalances']['saldo_disponible']['amount'] | currencyFormat): '0' | currencyFormat)}}
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <button class="right" type="button" (click)="onRight()" [ngClass]="{'right-invested': iconColorRight}" *ngIf="(products | async).length > 1">
            <img class="arrow-right" alt="">
          </button>
        </div>
      </div>
      <div class="cont-form">
        <div class="form-group">
          <label>{{'DOCUMENTS.CERTIFICATE.DETAIL.TO' | translate}}</label>
          <input class="input-bp" formControlName="nameOptional">
        </div>
        <div class="form-group">
          <app-dropdown-select
            [form]="formCertificate"
            [property]="'withPay'"
            [fixedOptions]="select"
            [advancedLabel]="false"
            ></app-dropdown-select>
        </div>
      </div>
      <div class="form-group cont-download">
        <app-btn (clickBtn)="download()"
          [disabled]="loading || formCertificate.invalid"
          [text]="(again ? 'DOCUMENTS.CERTIFICATE.DETAIL.AGAIN' : 'DOCUMENTS.CERTIFICATE.DETAIL.BTN') | translate"
          [isLoading]="loading"
          [class]="'btn-primary'"
        ></app-btn>
      </div>
    </form>
  </div>

  <ng-template #loadingTemplate>
    <div class="box">
      <div class="itemLoading">
        <p class="title-loading placeholder"></p>
        <p class="text-loading placeholder"></p>
        <p class="value-loading placeholder "></p>
      </div>
    </div>
  </ng-template>
</ng-template>
