@import '../../../../../sass/mixins'
@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

.cont-step-alert
  min-height: 75vh
  background: $carbon-light-400
  display: flex
  justify-content: center
  align-items: center
  > div
    width: 100%
    max-width: 300px
    text-align: center
    img
      width: 120px
      height: auto
      margin-bottom: 15px
    h5
      line-height: 1.67
      font-weight: bold
      margin-bottom: 44px
  .footer-step-alert
    display: flex
    flex-direction: column
    align-items: center
    button
      min-width: 200px
      margin-bottom: 34px
