<div class="step-four-onboarding">
  <img [src]="'/transferencia.png' |imageCdn" alt="">
  <div class="footer-step-four">
    <small>{{'ONBOARDING.STEP_FOUR.TITLE' | translate}}</small>
    <p>{{'ONBOARDING.STEP_FOUR.VALUE' | translate}}</p>
  </div>
</div>
<div class="circle-small-step-four circles-step-one">
  <p class="in_progress">{{'ONBOARDING.STEP_FOUR.PROGRESS' | translate}}</p>
  <p class="success">{{'ONBOARDING.STEP_FOUR.SUCCESS' | translate}}</p>
  <p class="error">{{'ONBOARDING.STEP_FOUR.ERROR' | translate}}</p>
</div>
