@import '~sass/mixins'
@import '~sass/colors'
@import '~sass/variables'

.cont-step-two-2fa
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .cont-step-two
    margin-top: 15%
    width: 344px
    text-align: center
    .cont
      display: flex
      justify-content: center
      .circle
        width: 114px
        height: 114px
        background-color: $g-50
        border-radius: 200px
        -moz-border-radius: 200px
        -webkit-border-radius: 200px
        img
          width: 80px
          height: 80px
          position: relative
          top: 17px
          bottom: 17px
    button
      width: 344px
    .title
      font-family: Inter
      font-size: 18px
      font-weight: 500
      font-stretch: normal
      font-style: normal
      line-height: 1.33
      letter-spacing: normal
    .form-global
      margin-top: 48px
    h2
      font-weight: 700
      padding: 0
    p
      padding: 8px 0
      font-size: $f-14
    .info-steps
      height: 30vh
      width: 100%
      max-width: 715px
      display: block
      margin: 0 auto
