<div class="animated fade-in-up cont-fill-new-universal-password" *ngIf="!onFillNewUniversalPasswordBannerMessage">
  <div>
    <div class="top-image-container">
      <img [src]="'/enrollment/password.png' | imageCdn" alt="">
    </div>
    <h4>{{'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.TITLE' | translate}}</h4>
    <p class="change-password-description">{{'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.DESCRIPTION' | translate}}</p>
    <form class="form-global" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="submitForm()">
        <div class="universal-password-fields" formGroupName="content">
          <fieldset class="form-group">
            <label>{{'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.NEW_PASSWORD' | translate}}</label>
            <div class="cont-float-icon">
              <input [type]="type('newPassword')" class="form-control input-bp" formControlName="universalPassword" appOnlyNumbers appBlockCopyPaste/>
              <i [ngClass]="{'icon-eye': !newPassword, 'icon-eye-off': newPassword}" (click)="togglePassword('newPassword')"></i>
            </div>
            <div *ngIf="registerForm.controls['content']['controls']['universalPassword'].errors &&
            (!registerForm.controls['content']['controls']['universalPassword'].pristine ||
                (registerForm.controls['content']['controls']['universalPassword'].dirty &&
                  registerForm.controls['content']['controls']['universalPassword'].touched))" class="error-msg">
                {{'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.NEW_PASSWORD_FORMAT_ERROR' | translate}}
            </div>
          </fieldset>
          <fieldset class="form-group">
            <label>{{'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.REPEAT_NEW_PASSWORD' | translate}}</label>
            <div class="cont-float-icon">
              <input [type]="type('retryPassword')" class="form-control input-bp" formControlName="universalPasswordConfirmation" appOnlyNumbers appBlockCopyPaste/>
              <i [ngClass]="{'icon-eye': !retryPassword, 'icon-eye-off': retryPassword}" (click)="togglePassword('retryPassword')"></i>
            </div>
            <div *ngIf="registerForm.controls['content']['controls']['universalPasswordConfirmation'].errors &&
            (!registerForm.controls['content']['controls']['universalPasswordConfirmation'].pristine ||
                (registerForm.controls['content']['controls']['universalPasswordConfirmation'].dirty &&
                  registerForm.controls['content']['controls']['universalPasswordConfirmation'].touched))
                  && registerForm.controls['content']['controls']['universalPasswordConfirmation'].errors.mustMatch" class="error-msg">
                {{'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.REPEAT_NEW_PASSWORD_NON_EQUALS_ERROR' | translate}}
            </div>
          </fieldset>

        </div>
      <fieldset>
        <app-btn
          [type]="'submit'"
          [disabled]="registerForm.invalid || (isLoading$ | async)"
          [text]="'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.BTN' | translate"
          [id]="'btn_login'"
          [isLoading]="(isLoading$ | async)"
          [class]="'btn btn-primary'">
        </app-btn>
      </fieldset>
    </form>
  </div>
</div>

<div *ngIf="onFillNewUniversalPasswordBannerMessage" class="animated fade-in-up cont-fill-new-universal-password intro">
  <img [src]="'/logotipo-horizontalx3.png' | imageCdn" alt="" class="logotipo-horizontalx3">
  <div class="top-image-container">
      <img [src]="'/enrollment/idea.png' | imageCdn" alt="">
  </div>
  <p [innerHTML]="'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.BANNER_MESSAGE' | translate"></p>
  <button (click)="hideBannerMessage()" class="btn btn-primary">{{'AUTH.ENROLLMENT.FILL_NEW_UNIVERSAL_PASSWORD.BANNER_MESSAGE_BTN' | translate}}</button>
</div>
