@import '~sass/variables'
@import '~sass/colors'

.cont-fill-new-universal-password
  text-align: center
  .top-image-container
    margin: 0 auto
    top: 0
    display: block
    width: 120px
    padding: 25px 17px
    background-color: $g-50
    border-radius: 50%
    img
      height: 66px
      width: auto
  h4
    margin-top: 24px
    margin-bottom: 12px
    font-weight: 500
  p
    line-height: 1.6
    font-size: $f-14 + 1
    margin-top: 24px
  .change-password-description
    margin-bottom: 35px
  form
    text-align: left
  button
    margin-top: 33px
    width: 100%
  b
    font-weight: 600

.cont-float-icon
  position: relative
  input
    padding-right: 40px
  i
    position: absolute
    right: 15px
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    color: $carbon-light-900
    font-size: $f-20 + 2

.intro
  .logotipo-horizontalx3
    width: 220px
    height: auto
    margin-top: 38px
    margin-bottom: 37px

.time-line
  display: block
  top: 66px
  position: absolute
  width: 100%

@media only screen and (max-width: $break-tablet)
  .time-line
    top: 56px
