@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

.product-loading
  height: 330px
  background: $carbon-light-100
  position: relative
  border-radius: 15px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  p
    font-size: $f-14 - 1
  img
    width: 40px
    height: auto
    margin-bottom: 10px




