@import '~sass/variables'
@import '~sass/colors'
@import '~sass/mixins'

.main-new-transfer
  text-align: center
  display: flex
  flex-direction: column
  .padding-left-right-16px
    padding: 0 16px
  .padding-top-bottom-16px
    padding: 16px 0
  .padding-top-16px
    padding-top: 16px
  .padding-bottom-0px
    padding-bottom: 0px
  .padding-top-0px
      padding-top: 0px
      line-height: 2

  .width-height-auto
    width: auto
    height: auto
  .border-radius-12
    border-radius: 12px
