@import '../../../../../sass/mixins'
@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

strong
  color: $carbon-dark-900
h2
  font-weight: 700
  margin-top: 35px
.btn-graph
  min-height: 176px
  display: inline-block
.home-wnocother
  margin-top: 32px
  .home-head-wnocother
    display: flex
    justify-content: space-between
    align-items: center
  .empty
    display: flex
    justify-content: center
    align-items: center
    min-height: 64vh
    text-align: center
    img
      width: 120px
      height: auto
      margin-bottom: 13px



@media only screen and (max-width: $break-mobile)
  .btn-graph
    width: 100%
    margin: 9px 0px 9px 0px
    min-height: 176px
  h2
    font-weight: 700
    margin: 23px 16px 0 16px
  .home-wnocother
    margin-top: 22px
    padding: 0 15px
    .home-head-wnocother
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      h2
        font-size: $f-20 + 4
        margin-bottom: 24px
        padding: 0
      a
        width: 100%
        text-align: center
    .empty
      min-height: 60vh
