<div class="step-one-onboarding">
  <div class="cont-info-one">
    <div class="head-one">
      <p>{{'PRODUCT_TYPES.DEPOSIT_ACCOUNT' | translate}}</p>
      <small>{{'ONBOARDING.STEP_ONE.HEAD.PRODUCT_ONE.VALUE' | translate}}</small>
    </div>
    <div class="available-one">
      <small>{{'ONBOARDING.STEP_ONE.HEAD.PRODUCT_TWO.NAME' | translate}}</small>
      <p>{{'ONBOARDING.STEP_ONE.HEAD.PRODUCT_TWO.VALUE' | translate}}</p>
    </div>
  </div>
  <div class="footer-one">
    <div>
      <span>{{'ONBOARDING.STEP_ONE.FOOTER.PRODUCT_ONE.NAME' | translate}}</span>
      <p>{{'ONBOARDING.STEP_ONE.FOOTER.PRODUCT_ONE.VALUE' | translate}}</p>
    </div>
    <div>
      <span>{{'ONBOARDING.STEP_ONE.FOOTER.PRODUCT_TWO.NAME' | translate}}</span>
      <p>{{'ONBOARDING.STEP_ONE.FOOTER.PRODUCT_TWO.VALUE' | translate}}</p>
    </div>
  </div>
</div>
<div class="circle-small-step-one circles-step-one">
  <div class="deposit">
    <img [src]="'/cuenta-de-ahorros.png' | imageCdn" alt="">
  </div>
</div>
<div class="circle-medium-step-one circles-step-one"></div>
