@import '~sass/variables'
@import '~sass/forms'
@import '~sass/colors'
@import '~sass/mixins'

.cont-step-three-pocket
  max-width: 344px
  margin: 0 auto
  img
    width: 75px
    margin-bottom: 20px
  h3
    font-size: $f-14
    font-weight: 500
    margin-bottom: 10px
    padding-top: 4px
    padding-bottom: 10px
  h4
    font-size: $f-14
    margin-bottom: 10px
  .variation-field
    padding-bottom: 24px
    border-bottom: 2px $carbon-light-900 solid
  .submit-step-three
    text-align: center
    margin: 0
    display: flex
    button
      width: 344px
    a
      padding: 20px
  .ui-calendar
    width: 100%
  .form-group
    input::placeholder
      color: $carbon-mid-600
