@import '../../../../../sass/mixins'
@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

.cont-alert-blocked
  background: $carbon-light-100
  border-radius: 12px
  padding: 24px
  width: 320px
  margin: auto
  .img-container
    width: 48px
    height: 48px
    padding: 8px
    border-radius: 24px
    background-color: $scs-100
    margin: 0px auto 12px
    img
      width: 32px
      height: 32px
  h3
    font-size: $f-14 + 2
    margin-bottom: 16px
    font-weight: 600
    line-height: 1.75
  p
    font-size: 16px
    font-weight: 600
    line-height: 1.75
    letter-spacing: normal
    text-align: center
    color: $black-750
    margin-bottom: 16px
  .subtitle
    font-size: 14px
    line-height: 2
    color: $carbon-dark-900
  .bottom-profile-section-card-content
    font-size: 13px
    font-weight: normal
    line-height: 2.15
    color: $carbon-dark-900
    a
      color: $orange-900
      font-weight: 600
  .centered
    text-align: center
  button
    width: 100%
    margin-top: 8px
    background: $hlt-600
