@import '~sass/variables'
@import '~sass/colors'
@import 'globalVars'

.cont-register-biometric
  text-align: center
  .desc-bold
    font-weight: 500
  li
    display: flex
    white-space: break-spaces
    .point
      top: 3px
      position: relative
  .list-bold
    line-height: 2.15
    font-family: Inter
    font-size: 13px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    letter-spacing: normal
    span
      font-weight: 600
  .top-image-container
    margin: 0 auto
    top: 0
    display: block
    width: auto
    padding: 16px 17px
    border-radius: 50%
    img
      height: 80px
      width: auto
  h4
    margin-top: 16px
    margin-bottom: 12px
    font-weight: bold
  .desc-register
    font-size: $f-14 - 1
    font-family: Inter
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 2.15
    letter-spacing: normal
    text-align: center
  form
    text-align: left
    position: relative
    margin-top: 24px
  button
    margin-top: 33px
    width: 100%
  a
    color: $orange-900
    font-size: $f-14 - 2
    float: right
    font-weight: 600
  .disabled
    pointer-events: none
    cursor: not-allowed
  .form-global
    .form-group
      label
        display: inline-block
        font-weight: 500

.cont-float-icon
  position: relative
  input
    padding-right: 40px
  i
    position: absolute
    right: 15px
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    color: $cbn-mid-100
    font-size: $f-20 + 2
.cont-biometric
  text-align: center
  color: $cbn-mid-100
  // pointer-events: none
  .text-biometric
    float: none
    width: 162px
    height: 24px
    margin: 0 4px 0 0
    font-family: Inter
    font-size: 14px
    font-weight: 600
    font-stretch: normal
    font-style: normal
    line-height: 1.71
    letter-spacing: normal
    text-align: center
    color: $cbn-mid-100
  .icon-biometric
    width: 24px
    height: 24px
    background-color: $cbn-mid-100
    mask: url('#{$base-url}/images/24-essential-fingerprint-3.svg') no-repeat center / contain
    -webkit-mask: url('#{$base-url}/images/24-essential-fingerprint-3.svg') no-repeat center / contain
.enable-biometric
  color: $act-900
  // pointer-events: all
  .text-biometric
    color: $act-900
  .icon-biometric
    background-color: $act-900


@media only screen and (max-width: $break-mobile)
  .validate-universal-password
    margin-top: 34px
    h4
      margin: 0
    form
      margin-top: 40px
    button
      margin-top: 20px

