@import '~sass/mixins'
@import '~sass/colors'
@import '~sass/variables'

.cont-step-four-payment
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .confirm
    left: 0
    ul>li
      .voucher
        width: 50%
        white-space: nowrap
    ul>li>p
      .success
        color: $carbon-mid-900
        font-weight: 600
        font-size: $f-14
        text-transform: capitalize
