<div class="home-products" *ngIf="hasProducts && bank.loaded;">

  <div class="name-bank">
    <img
        [src]="'/' + (bank.key | lowercase) + '.png' | imageCdn"
        [alt]="'BANKS.' + bank.key | translate"
        *ngIf="showImage"
        (error)="hiddenImage()"
    >
    {{'BANKS.' + bank.key | translate}}
  </div>
  <ng-container *ngFor="let account of bank.products  | keys">
    <div class="align-cards">
      <h6>
        {{ 'PRODUCT_TYPES.' + account.key | translate}} ({{quantityProducts(account.value)}})
      </h6>
      <ul class="cont-section-products">
        <li *ngFor="let product of account.value">

          <ng-container [ngSwitch]="account.key">

            <ng-container *ngSwitchCase="typeProducts.DEPOSIT_ACCOUNT">
              <app-product-deposit-account [product]="product"
                                           [nameBank]="bank.key | lowercase"></app-product-deposit-account>
            </ng-container>

            <ng-container *ngSwitchCase="typeProducts.CERTIFIED_DEPOSIT_TERM">
              <app-product-cdt [product]="product" [nameBank]="bank.key | lowercase"></app-product-cdt>
            </ng-container>

            <ng-container *ngSwitchCase="typeProducts.CREDIT_CARD">
              <app-product-credit-card [product]="product" [nameBank]="bank.key | lowercase"></app-product-credit-card>
            </ng-container>

            <ng-container *ngSwitchCase="typeProducts.CURRENT_ACCOUNT">
              <app-product-current-account [product]="product"
                                           [nameBank]="bank.key | lowercase"></app-product-current-account>
            </ng-container>

            <ng-container *ngSwitchDefault>
              <app-product-default [product]="product" [nameBank]="bank.key | lowercase"></app-product-default>
            </ng-container>

          </ng-container>

        </li>
      </ul>
    </div>
  </ng-container>
</div>
