@import '../../../../sass/variables'
@import '../../../../sass/colors'
@import '../../../../sass/mixins'

.cont-alert-recharge
  background: $carbon-light-100
  border-radius: 15px
  padding: 24px
  text-align: center
  img
    height: 92px
    width: auto
  p
    line-height: 1.5
    margin: 26px 0 32px
    font-weight: 500
    padding: 0 20px
    &.desc
      margin: 20px 0
      font-weight: normal
      letter-spacing: -0.3px
      font-size: 13px
      line-height: 23px
      letter-spacing: -0.6px
      b
        font-weight: 600
  .p-if
    font-weight: 600
    font-size: 16px
    padding: 0
  .p-text-if
    padding: 0
  button
    width: 128px
    padding: 0
      width: 100%
  .btn-if
    width: 270px
  .btn-if-green
    background: $g-100
    color: $gc-850
    border-radius: 8px
  .cont-buttons-alert
    display: flex
    justify-content: space-between
    position: relative
  .cont-icon-alert
    display: flex
    justify-content: center
    align-items: center
    color: white
    width: 48px
    height: 48px
    background-color: $inf-100
    border-radius: 200px
    -moz-border-radius: 200px
    -webkit-border-radius: 200px
    .icon-alert
      width: 32px
      height: 32px
.only-accept
    button
      width: 270px
.cont-alert-recharge-icon
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  p
    margin: 10px 0
    font-size: 16px
    font-weight: 600
    &.desc
      padding: 0
      font-size: 13px
      font-weight: normal
