@import '~sass/mixins'
@import '~sass/colors'
@import '~sass/variables'

.container-activate-tc
  height: 100%
  width: 100%
  .main-container-transaction h2
    font-size: 21px
  p
    padding: 8px 0
    font-size: $f-14
  .info-steps
    height: 30vh
    width: 100%
    max-width: 715px
    display: block
    margin: 0 auto
@media only screen and (max-width: $break-mobile)
  h2
    font-size: 21px
