@import '~sass/mixins'
@import '~sass/forms'
@import '~sass/colors'
@import '~sass/variables'

.cont-pockets
  flex: 1
  .navigation-opts
    padding: 0
  .new-pockets-nav
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0
    a
      color: $carbon-mid-400
      margin-right: 10px
      transition: .3s
      em
        +inline(middle)
        color: $gc-800
        font-size: $f-14 + 4
        margin-right: 5px
        padding: 1px
        border: 1px solid $gc-800
        border-radius: 100%
        &.no-border
          border: none
          font-size: $f-14 + 8
      &.close-payment
        margin: 0
        i
          margin-left: 10px
      &:hover
        color: $carbon-dark-900
  .new-pocket
    margin-top: 14px
    .new-head-pocket
      display: flex
      justify-content: space-between
      align-items: center
      h2
        font-weight: bold
        padding: 0 8px
    .home-pockets-option
      width: 344px
      margin: 20px 0
      label
        margin-bottom: 20px
        display: block
    .pockets-content
      ul
        li
          float: left
          margin-right: 16px
          margin-bottom: 16px
    .info-steps
      .form-group
        margin-bottom: 20px
        margin-top: 0
        .radio
          width: 100%
          margin-bottom: 20px

@media only screen and (max-width: $break-mobile)
  .cont-pockets
    .new-pockets-nav
      padding: 20px 15px
    .new-pocket
      margin-top: 22px
      padding: 0 15px
      .new-head-pocket
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        h2
          font-size: $f-20 + 4
          margin-bottom: 24px
          padding: 0
        a
          width: 100%
          text-align: center
      .home-pockets-option
        width: 100%
      .pockets-content
        ul
          li
            width: 100%
            margin-right: 0
