@import '../../../../../sass/variables'
@import '../../../../../sass/colors'
@import '../../../../../sass/mixins'

.cont-step-three-payment
  width: 100%
  max-width: 350px
  margin: 0 auto
  display: block
  .date-contaniner
    background: $carbon-light-100
    border: 2px solid $carbon-light-900
    border-radius: 5px
    transition: border .3s
    padding: 22px 23px
    text-align: left
    margin-bottom: 32px
    label
      margin: 0
    &.active
      border-color: $g-500
      background: $gb-500
  .date-today
    height: 130px
  .date-custom
    .radio
      label
        display: block
        margin-bottom: 20px
  .form-group > button
    width: 100%
    margin: 22px auto 0
    max-width: 183px
    display: block
  .form-group
    .recursive-group
      label
        margin-top: 20px
        display: block
      input[type=tel], select
        margin-top: 8px
        font-size: $f-14
  .ui-calendar
    width: 100%
    .ui-calendar-button
      position: absolute
      right: 10px
      top: -6px
      height: 96%
      border: none
      font-size: 18px
      color: $carbon-mid-600
      background: transparent
  .center
    text-align: center

  fieldset
    text-align: center
  button
    width: 100%
    margin-top: 22px
    max-width: 183px

@media only screen and (max-width: $break-mobile)
  .cont-step-three-payment
    max-width: 100%
    padding: 0 14px
    button
      max-width: 100%
