@import '../../../../../sass/mixins'
@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

.confirmation-recharge
  ul
    li
      p
        .text-bold
          font-weight: 500
          color: $cbn-900
  .decimal-vouchers-custom
    font-size: 14px
  .footer-step
    .btn-primary
      min-width: 150px
