@import '~sass/mixins'
@import '~sass/colors'
@import '~sass/variables'

.container-code-auth
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  h2
    font-weight: 700
    padding: 0
  p
    padding: 8px 0
    font-size: $f-14
  .info-steps
    height: 30vh
    width: 100%
    max-width: 715px
    display: block
    margin: 0 auto
@media only screen and (max-width: $break-mobile)
  .container-code-auth
    position: relative
