<div class="center-slider">
  <div class="cont-steps-onBoarding">
    <div class="cont-circles">
      <div class="circle-big animated-fast zoomIn"></div>
      <div class="circle-medium animated-fast zoomIn"></div>
      <div class="circle-small animated-fast zoomIn"></div>
      <div class="cont-signs">
        <div class="c-small circle-one"></div>
        <div class="c-small circle-two hidden-mobile"></div>
        <div class="c-small circle-three"></div>
        <div class="plus-small plus-one">+</div>
        <div class="plus-small plus-two">+</div>
        <div class="plus-small plus-three">+</div>
      </div>
    </div>

    <div class="cont-slider-boarding">
      <div>
        <app-step-one></app-step-one>
      </div>
      <div>
        <app-step-two></app-step-two>
      </div>
      <div>
        <app-step-three></app-step-three>
      </div>
      <div>
        <app-step-four></app-step-four>
      </div>
    </div>

    <button class="btn btn-primary" *ngIf="showButton" (click)="clickRedirect()">¡{{'ONBOARDING.BTN' | translate}}!</button>
    <div class="text-slides">
      <p *ngIf="showText(1)" class="animated-fast fade-in-up" [innerHTML]="'ONBOARDING.STEP_ONE.TEXT' | translate"></p>
      <p *ngIf="showText(2)" class="animated-fast fade-in-up" [innerHTML]="'ONBOARDING.STEP_TWO.TEXT' | translate"></p>
      <p *ngIf="showText(3)" class="animated-fast fade-in-up" [innerHTML]="'ONBOARDING.STEP_THREE.TEXT' | translate"></p>
      <p *ngIf="showText(4)" class="animated-fast fade-in-up" [innerHTML]="'ONBOARDING.STEP_FOUR.TEXT' | translate"></p>
    </div>
  </div>
</div>
