<div class="animated fade-in-up cont-step-global cont-step-confirmation">
  <app-ticket
      [imageTicket]="'/confirmation.png' | imageCdn"
      [title]="'TRANSFER.CONFIRMATION.TITLE' | translate"
      [messageTitle]="(!(isScheduled$ | async) ? 'TRANSFER.CONFIRMATION.FORM.AMOUNT' : 'TRANSFER.CONFIRMATION.FORM.AMOUNT_SCHEDULED') | translate"
      [messageText]="(formTwo$ | async).amount | currencyFormat : true : 'decimal-vouchers'"
      [listTemplate]="list"></app-ticket>

  <div class="footer-step">
    <app-btn
        [class]="'btn-primary'"
        [disabled]="loading"
        [text]="(!(isScheduled$ | async) ? 'TRANSFER.CONFIRMATION.BTN' : 'TRANSFER.CONFIRMATION.BTN_SCHEDULED') | translate"
        [isLoading]="loading"
        (clickBtn)="submitData()"></app-btn>
    <a class="link" (click)="stepOne()">{{'EDIT' | translate}}</a>
  </div>
</div>


<ng-template #list>
  <ul>
    <li *ngIf="formOne$ | async as one">
      <span>{{'TRANSFER.CONFIRMATION.FORM.ORIGIN' | translate}}</span>
        <p>
          {{'BANKS.'+one.account_origin?.accountInformation?.bank | translate}} - {{'PRODUCT_TYPES.' + one.account_origin?.typeAccount | translate}} {{one.account_origin?.id | slice: -4}} - {{'PRODUCT.DEPOSIT_ACCOUNT.BALANCE_AVAILABLE' | translate}}
          <span class="text-bold" [innerHTML]="one?.account_origin?.productAccountBalances?.saldo_disponible?.amount | currencyFormat : true : 'decimal-vouchers-custom'"></span>
        </p>
    </li>
    <li *ngIf="formOne$ | async as one">
      <ng-container *ngIf="!(isNew$ | async)">
        <span>{{'TRANSFER.CONFIRMATION.FORM.DESTINATION' | translate}}</span>
        <p class="min-height">{{(one.bank?.name ? one.bank?.name : one.account_destination?.bankName) | translate}} - {{ 'PRODUCT_TYPES.' + one.account_destination?.destinationAccountType | translate}} {{one.account_destination?.destinationAccountId | slice: -4}}</p>
      </ng-container>
      <ng-container *ngIf="isNew$ | async">
        <span>{{'TRANSFER.CONFIRMATION.FORM.DESTINATION' | translate}}</span>
        <p class="min-height">{{(one.bank?.name ? one.bank?.name : one.account_destination?.bankName) | translate}} - {{ 'PRODUCT_TYPES.' + one?.productType | translate}} {{one?.accountIdentifier | slice: -4}}</p>
      </ng-container>
    </li>
    <li>
      <span>{{(!(isScheduled$ | async) ? 'TRANSFER.CONFIRMATION.FORM.DATE' : 'TRANSFER.CONFIRMATION.FORM.DATE_SCHEDULED') | translate}}</span>
      <p *ngIf="isNew$ | async">{{ 'TRANSFER.CONFIRMATION.FORM.NEW_ACCOUNT_DATE_MESSAGE' | translate }}</p>
      <ng-container *ngIf="!(isNew$ | async)">
        <p class="capitalize" *ngIf="!(isScheduled$ | async)"> {{ 'DATE.TODAY' | translate }} - {{ date | date:'dd/MMM/yyyy' | replace : '.' : '' }}</p>
        <p class="capitalize" *ngIf="isScheduled$ | async">
          {{(formThree$ | async)?.numberRepeat ? ('TRANSFER.FORM_THREE.REPEAT.NUMBER_REPEAT' | translate: { number: (formThree$ | async)?.numberRepeat }) + ' - ' : ''}}
          {{ dateTransfer$ | async  | date:'dd/MMM/yyyy' | replace : '.' : ''}}
        </p>
      </ng-container>
    </li>
    <li>
      <ng-container *ngIf="(formTwo$ | async)  as two">
        <span>{{'TRANSFER.CONFIRMATION.FORM.DESCRIPTION' | translate}}</span>
        <p>{{two.description}} - {{two.voucher}}</p>
      </ng-container>
    </li>
    <li>
      <span>{{'TRANSFER.CONFIRMATION.FORM.COST_TRANSACTION' | translate}}</span>
      <p [innerHTML]="(formTwo$ | async)?.transactionCost"></p>
    </li>
    <li>
      <span class="footer-scheduled" [ngClass]="{'footer-scheduled': true}">{{'TRANSFER.SCHEDULED.FOOTER_SCHEDULED' | translate}}</span>
    </li>
  </ul>
</ng-template>
