@import '~sass/variables'
@import '~sass/colors'
@import '~sass/mixins'

.card-favorite
  display: flex
  justify-content: space-between
  padding: 20px
  background: $carbon-light-100
  border-radius: 10px
  border-bottom: 1px solid $carbon-light-900
  margin-bottom: 16px
  .text-container
    strong
      font-size: 14px
      font-weight: 500
      line-height: 1.71
      letter-spacing: normal
      color: $black-750
    p
      font-size: 11px
      font-weight: normal
      line-height: 2.09
      color: $gray3
  .check-container
    align-self: center
