@import '../../../../../sass/mixins'
@import '../../../../../sass/colors'
@import '../../../../../sass/variables'

.cont-step-alert
  min-height: 75vh
  background: $carbon-light-400
  display: flex
  justify-content: center
  align-items: center

  > div
    width: 100%
    max-width: 300px
    text-align: center

    img
      width: 120px
      height: auto
      margin-bottom: 15px

    h5
      line-height: 1.67
      font-weight: 600
      margin-bottom: 44px

  .footer-step-alert
    display: flex
    flex-direction: row
    align-items: center

    button
      min-width: 166px
      padding: 0 30px

    a
      margin-left: 34px
