<ng-container *ngIf="!loading else loadingState">
    <div class="card-admin fckcards shadow-1dp card{{tagnumber}}" [ngClass]="{'selected': selected}">
        <div class="info-card">
            <p>{{data?.billerNickname}}</p>
            <span>{{enterprise}}</span>
            <span class="ref">Referencia {{ref}}</span>
        </div>
        <div class="icon-card">
            <em class="icon-arrow2-right" *ngIf="!editMode"></em>
            <button class="animated bounceIn" *ngIf="editMode" (click)="delete()">
        <em class="icon-delete">
        </em>
      </button>
        </div>
    </div>
</ng-container>

<ng-template #loadingState>
    <div class="card-admin itemLoading loading-global shadow-1dp" *ngFor="let i of [].constructor(loadingItems)">
        <div class="info-card">
            <p class="placeholder width-40 "></p>
            <p class="placeholder width-100 "></p>
        </div>
    </div>
</ng-template>