<div class="cont-step-enrollment">
  <app-line-time [step]="currentStep | async"
                 [items]="[
                 'AUTH.ENROLLMENT.STEPS.STEP_ONE' | translate,
                 'AUTH.ENROLLMENT.STEPS.STEP_TWO' | translate,
                 'AUTH.ENROLLMENT.STEPS.STEP_THREE' | translate]" *ngIf="showLine((enrollmentData$ | async)?.data)"></app-line-time>

  <div class="cont-enrollment" [ngSwitch]="(enrollmentData$ | async)?.data?.step">
    <!-- Version 1 -->
    <app-validate-current-password *ngSwitchCase="steps.FILL_CURRENT_CHANNEL_PASSWORD" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-validate-current-password>
    <app-fill-new-universal-password *ngSwitchCase="steps.FILL_NEW_UNIVERSAL_PASSWORD" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-fill-new-universal-password>
    <app-validate-universal-password *ngSwitchCase="steps.FILL_UNIVERSAL_PASSWORD" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-validate-universal-password>
    <app-validate-product-information *ngSwitchCase="steps.FILL_SECURE_DATA" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-validate-product-information>
    <app-validate-code *ngSwitchCase="steps.FILL_OTP_DATA" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-validate-code>
    <app-accept-channel-policies *ngSwitchCase="steps.ACCEPT_CHANNEL_POLICIES" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)"></app-accept-channel-policies>
    <!-- end Version 1 -->

    <!-- Version 2 -->
    <app-validate-current-password *ngSwitchCase="steps.FILL_CURRENT_CHANNEL_CREDENTIALS" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-validate-current-password>
    <app-fill-new-universal-password *ngSwitchCase="steps.FILL_NEW_CREDENTIALS" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-fill-new-universal-password>
    <app-validate-universal-password *ngSwitchCase="steps.FILL_LOGIN_CREDENTIALS" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-validate-universal-password>
    <app-validate-product-information *ngSwitchCase="steps.FILL_SECURITY_QUESTION" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-validate-product-information>
    <app-validate-code *ngSwitchCase="steps.V2_FILL_OTP_DATA" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-validate-code>
    <app-accept-channel-policies *ngSwitchCase="steps.V2_ACCEPT_CHANNEL_POLICIES" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="submit($event)"></app-accept-channel-policies>
    <!-- end Version 2 -->
    <app-enrollment-experian-wrapper *ngSwitchCase="steps.EXPERIAN_FLOW" [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" [loading] = "(enrollmentData$ | async)?.loading"  [error] = "(enrollmentData$ | async)?.error" (submitAction)="submit($event)" (resetAction)="resetAndRedirectToLogin()"></app-enrollment-experian-wrapper>

    <app-alert *ngSwitchDefault [userEnrollmentFlowInformation] = "(enrollmentData$ | async)?.data" (submitAction)="resetAndRedirectToLogin()"></app-alert>
  </div>
</div>
