@import '~sass/colors'
@import '~sass/variables'
@import '~sass/mixins'

.top-profile-section-header
  margin-bottom: 20px
  div
    display: inline-block
    margin-right: 17px
  .icon
    width: 34px
    height: 34px
    display: inline
    img
      width: 34px
  .action
    div
      display: flex
      height: 30px
      span
        align-self: center
        font-size: 14px
        line-height: 2.29
        font-weight: 500
.separator
  border-bottom: 1px solid $carbon-light-900
  width: 100%
  content: ''
  bottom: 0
  display: block
  margin-bottom: 20px